/* COMMON */
/* bottoni */
.btn_red {
    background-color: #CD3D0F;
    color: white;
    border: 2px solid black;
}

.btn_red:hover {
    box-shadow: 0px 0px 0 2px white;
    color: white;
}

.btn_blue {
    background-color: rgb(45, 100, 230);
    color: white;
    border: 2px solid white;
}

.btn_blue:hover {
    color: white;
    box-shadow: 0 0 0 2px rgb(45, 100, 230);
}

.btn_light {
    background-color: #D9DADC;
    color: #386CE5;
    border: 2px solid #BEBCBB;
}

.btn_light:hover {
    color: #386CE5;
    box-shadow: 0 0 0 2px #386CE5;
}

.btn_white {
    background-color: white;
    color: black;
    border: 2px solid #161C3B;
}

.btn_white:hover {
    color: black;
    box-shadow: 0 0 0 2px white;
}

/* testi */
.text_blue {
    color: #1A80D3;
}

.text_grey {
    color: #5a5a5a;
}

a {
    text-decoration: none;
    color: currentColor;
}

footer a:hover {
    color: currentColor;
}

ul {
    list-style-type: none;
}

.menu_icon {
    margin: 0 20px;
    text-align: center;
}

/* HEADER */
header {
    display: contents;
}

.top_header {
    background-color: black;
}

#sony_logo {
    width: 80px;
}

.navbar a {
    color: black !important;
}

.nav-item .btn:hover {
    background-color: gray;
    color: white;
    border: 1px solid grey;
}

.nav-item .nav-link:hover {
    color: #2D64E6 !important;
}

.dropdown-toggle::after{
    border: unset;
    content: "\2304";
    font-weight: bold;
}

.navbar-collapse {
    min-height: calc(100vh - 30px);
}

.navbar .dropdown {
    position: static;
}

.navbar .dropdown-menu{
    width: 100%;
    /* min-height: calc(100vh - 106px); */
    margin-top: 0;
    border: 0;
}

.dropdown-item_wrapper {
    display: inline-block;
    width: 150px;
    border: 2px solid transparent;
}

.dropdown-item_btm {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.dropdown_img {
    width: 80px;
}

.dropdown-item_wrapper:hover {
    border: 2px solid lightgray;
    border-radius: 10px;
}

.dropdown-item_wrapper:hover p, .dropdown-item_btm:hover p {
    color: #2D64E6;
}

.dropdown-item_btm::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 25%;
    left: 0;
    background-color: #0070d1;
}

/* JUMBOTRON */
.jumbotron {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.game_returnal {
    background-image: url("../img/jumbo-bg.png");
    height: 675px;
}

.game_it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.jumbo_banner {
    max-width: 220px;
}

.info_item-title {
    font-size: calc(2rem + 0.5vw);
    font-weight: 400;
}

.info_item-description {
    font-size: calc(1rem + 0.25vw);
}

/* game_list */
.game_wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.game_item {
    padding: 0.1rem;
    transition: 200ms linear;
    opacity: 0.7;
}

.game_item:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px -5px black;
    opacity: 1;
}

.game_item.game_item-active {
    border: 3px solid #2D64E6;
    border-radius: 10px;
    opacity: 1;
}

/* ps5 hardware */
.hardware_item-wrapper {
    opacity: 0.5;
    transition: 200ms linear;
}

.item_active {
    opacity: 1;
    border-bottom: 2px solid #2D64E6;
}

.hardware_item-wrapper:hover {
    opacity: 1;
}

.thumb_description {
    display: none;
    font-size: 0.8rem;
    text-align: center;
}

/* new_games */
.new_games {
    background-color: #1F1F1F;
}

.new_game-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.new_game-wrapper img {
    transition: 200ms linear;
    margin-bottom: 10px;
}

.new_game-wrapper:hover img{
    transform: scale(1.1);
}

/* ps_plus */
.ps_plus {
    background-color: #BEBCBB;
}

.ps_plus-banner {
    display: none;
}

.ps_plus-logo {
    width: 60%;
}

/* ps_discount */
.ps_discount-img {
    transition: 200ms linear;
    border-radius: 10px;
}

.ps_discount-img:hover {
    transform: scale(1.02);
}

/* ps_now */
.ps_now {
    background-color: #161C3B;
}

/* social */
.social_img {
    border-radius: 10px;
    box-shadow: 0 5px 15px -5px black;
    transition: 200ms linear;
}

.social_img:hover {
    transform: translateY(-10px);
}

/* footer */
footer {
    background-color: #00439C;
}

.logo_footer {
    width: 20%;
}

footer ul li {
    font-size: calc(0.8rem + 0.1vw);
    padding: 5px 0;
}

footer p {
    font-size: calc(0.8rem + 0.1vw);
}

.sony_footer-logo {
    width: 100px;
}

.more_info {
    text-decoration: underline;
}

/* RESPONSIVE */
@media all and (min-width:768px) {
    .thumb_description {
        display: block;
    }

    .ps_plus-banner {
        display: block;
    }
}

@media all and (min-width:992px) {
    .navbar-collapse {
        min-height: 0;
    }

    .menu_icon {
        width: 0;
        color: transparent;
        margin: 0 0;
    }
}