/* HEADER */
header {
    display: contents;
}

.top_header {
    background-color: black;
}

#sony_logo {
    width: 80px;
}

.navbar a {
    color: black !important;
}

.nav-item .btn:hover {
    background-color: gray;
    color: white;
    border: 1px solid grey;
}

.nav-item .nav-link:hover {
    color: #2D64E6 !important;
}

.dropdown-toggle::after{
    border: unset;
    content: "\2304";
    font-weight: bold;
}

/* JUMBOTRON */
.jumbotron {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.game_returnal {
    background-image: url("../img/jumbo-bg.png");
    height: 675px;
}

.game_it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.jumbo_banner {
    max-width: 220px;
}

.info_item-title {
    font-size: calc(2rem + 0.5vw);
    font-weight: 400;
}

.info_item-description {
    font-size: calc(1rem + 0.25vw);
}

/* bottoni */
.btn_red {
    background-color: #CD3D0F;
    color: white;
}

.btn_blue {
    background-color: rgb(45, 100, 230);
    color: white;
}

.btn_light {
    background-color: #D9DADC;
    color: #386CE5;
}

.btn_white {
    background-color: white;
    color: black;
}

/* .button_hover {
    width: max-content;
    border: 2px solid rgba(255, 255, 255, 0);
}

.btn:hover {
    color: currentColor;
}

.btn_red:hover .button_hover {
    border: 2px solid rgba(255, 255, 255, 1) !important;
} */

/* testi */
.text_blue {
    color: #1A80D3;
}

.text_grey {
    color: #5a5a5a;
}

/* game_list */
.game_wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.game_item {
    padding: 0.1rem;
}

.game_item:hover {
    border: 3px solid #2D64E6;
    border-radius: 10px;
}

.game_item.game_item-active {
    border: 3px solid #2D64E6;
    border-radius: 10px;
}

/* ps5 hardware */
.hardware_item-wrapper {
    opacity: 0.5;
}

.item_active {
    opacity: 1;
    border-bottom: 2px solid #2D64E6;
}

.hardware_item-wrapper:hover {
    opacity: 1;
    border-bottom: 2px solid #2D64E6;
}

.thumb_description {
    display: none;
    font-size: 0.8rem;
    text-align: center;
}

/* new_games */
.new_games {
    background-color: #1F1F1F;
}

/* ps_plus */
.ps_plus {
    background-color: #BEBCBB;
}

.ps_plus-banner {
    display: none;
}

.ps_plus-logo {
    width: 60%;
}

/* ps_now */
.ps_now {
    background-color: #161C3B;
}
/* RESPONSIVE */
@media all and (min-width:768px) {
    .thumb_description {
        display: block;
    }

    .ps_plus-banner {
        display: block;
    }
}